<!DOCTYPE html>
<html>
  <head>
    <title>Webpackrailstest</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= javascript_include_tag *webpack_asset_paths("application") %>
    - if Rails.env == 'development'
      <script src="http://localhost:3808/webpack-dev-server.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
